* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body>header {
    background-color: rgb(56, 56, 56);
    color: aliceblue;
    padding: 16px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header li {
    display: inline;

    font-weight: bold;
}

header li a {
    color: aliceblue;
    text-decoration: none;
    margin-left: 16px;
}

header li a:hover {
    text-decoration: double;
}

.container {
    width: 95%;
    /* mudei 1366px para 95% pois minha tela é 1280px e assim adequa-se para os dois tamanhos*/
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /* height: 180px; */
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article a,
.articles article p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 36px;
}

#sports {
    background-color: rgb(193, 253, 198);
}

#sports .articles article a {
    background-color: rgb(47, 255, 151);
    color: #000;

}

#economy {
    background-color: rgb(255, 250, 200);
}

#economy .articles article a {
    background-color: rgb(255, 255, 59);
    color: #000;
}

#politics {
    background-color: rgb(211, 154, 154);
}

#politics .articles article a {
    background-color: rgba(216, 56, 56, 0.863);
    color: #000;

}

#technology {
    background-color: rgb(200, 210, 255);
}

#technology .articles article a {
    background-color: rgb(95, 59, 255);
    color: #000;
}

footer {
    background-color: rgb(56, 56, 56);
    color: aliceblue;
    padding: 16px 0;
    text-align: center;
}